@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<PirosBiros.Dnn.Dnn.PirosBiros.HelloWorld.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@{
    //ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/RF.Modules.TestFlightAppointment/Scripts/BookingGrid.js");

    var currency = "Euro";
    var currencyValue = 355.5;
}

<style>
    .base {
        background-color: rgb(229, 19, 2);
        color: white;
        font-size: 25px;
        margin: 0 10px;
        border-color: rgb(0, 0, 0);
        border-width: 3px;
        border-style: solid;
    }

    .red-div {
        padding: 10px;
    }

    .price {
        padding: 10px;
    }

    .red-button {
        border-radius: 15px;
        font-size: 20px;
        font-weight: bold;
    }

    .red-dropdown {
        border-radius: 15px;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
    }
</style>


<div style="display: flex; flex-direction: row; justify-content: center;">
    <button class="base red-button">Frissítés</button>
    <select name="currency" id="currencys" class="base red-dropdown" onchange="myFunction">
        <option class="red-dropdown-value" value="Euro">Euro</option>
        <option class="red-dropdown-value" value="Dollar">Dollar</option>
        <option class="red-dropdown-value" value="Rubel">Rubel</option>
    </select>

    <p style="margin: 0 10px 0 20px; padding-top: 8px; font-weight: bold; font-size: 20px">Árfolyam:</p>
    <div class="base red-div price">@currencyValue</div>
    <div class="base red-div">HUF</div>
    <div style="font-size: 80px">&#x2192</div>
    <div class="base red-div">@currency</div>
</div>