@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<PirosBiros.Dnn.Dnn.PirosBiros.HelloWorld.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<style>
    .base {
        background-color: rgb(229, 19, 2);
        color: white;
        font-size: 25px;
        margin: 0 10px;
        border-color: rgb(0, 0, 0);
        border-width: 3px;
        border-style: solid;
    }

    .red-div {
        padding: 10px;
    }

    .price {
        width: 100px;
        text-align: end;
    }

    .currency {
        width: 80px;
        text-align: end;
    }

    .red-dropdown {
        border-radius: 15px;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
    }
</style>


<div style="display: flex; flex-direction: row; justify-content: center;">
    <select name="currency" id="currencys" class="base red-dropdown" >
        @foreach (var item in Model)
        {
            if (item.IsActive)
            {
                <option class="red-dropdown-value" value="@item.CurrencyName @item.CurrencyValue" onchange="asd(@item.CurrencyValue)">@item.LongCurrencyName</option>
            }
        }
    </select>

    <p style="margin: 0 10px 0 20px; padding-top: 8px; font-weight: bold; font-size: 20px">Árfolyam:</p>
    <div class="base red-div price" id="currencyValue"></div>
    <div class="base red-div">HUF</div>
    <div style="font-size: 60px; margin-top: 10px">&#x2192</div>
    <div class="base red-div currency" id="currencyName"></div>
</div>

<script type="text/javascript">
    (function ($, Sys) {
        $(function () {
            $('#currencys').change(function () {
                var name = $(this).val().split(' ')[0];
                var value = $(this).val().split(' ')[1];
                $('#currencyName').text(name);
                $('#currencyValue').text(value);

            });
     });
    }(jQuery, window.Sys));
</script>

