@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< PBAmindSite.Dnn.PBAdminModul.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div>
Itt nincs semmi error Bumzi gergő
</div>
